body {
    background-image: url("space-station.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}


.h-one-style {
    display: table;
    /* keep the background color wrapped tight */
    margin: 0px auto 0px auto;
    /* keep the table centered */
    background-color: black;
    color: tomato;
    text-shadow: 2px 2px w;
}



.bio-picture {
    height: 200px;
    max-width: 100%;
    padding: 10px;
}

.dragon-pictures {
    height: 125px;
    height: 200px;
    max-width: 100%;
    padding: 10px;
}

.search-bar-container {
    text-align: center;
}

.search-bar {
    display: inline-block;
}

.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.display-div {
    border: solid 1px tomato;
    width: 18rem;
    text-align: center;
    justify-content: space-between;
    background-color: #cccccc;
}

.landing-pad-imgs {
    height: 125px;
}

.launch-pad-imgs {
    height: 140px;
}

.ships-imgs {
    height: 115px;
    height: 200px;
    max-width: 100%;
    padding: 10px;
}

.rocket-imgs {
    height: 160px;
}

/* /// these are the NASA API pics */
.pic-of-the-day {

    border: 4px solid tomato;
    display: grid;
    place-items: center;


}



/* // NASA API PICS */
.mars-imgs {

    border: 5px solid tomato;
   content: "";
   display: table;
   clear: both;
   

}

button {
    display: inline-block;
    background-color: #3e8dd3;
    padding: 1px;
    height: 35px;
    width: 100px;
    color: #ffffff;
    text-align: center;
    border: 4px double #cccccc;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: rgb(47, 112, 226);
}

.autocomplete-items {
    background-color: white;
}