.bio-picture {
    height: 200px;
}

.dragon-pictures {
    height: 125px;
}

.search-bar-container {
    text-align: center;
}

.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.display-div {
    border: solid 1px red;
    width: 18rem;
    text-align: center;
    justify-content: space-between;
}

.landing-pad-imgs {
    height: 125px;
}

.launch-pad-imgs {
    height: 140px;
}

.ships-imgs {
    height: 115px;
}

.rocket-imgs {
    height: 160px;
}
