.bio-picture {
    height: 200px;
}

.dragon-pictures {
    height: 125px;
}

.search-bar-container {
    text-align: center;
}

.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.display-div {
    border: solid 1px red;
    width: 18rem;
    text-align: center;
    justify-content: space-between;
}

.landing-pad-imgs {
    height: 125px;
}

.launch-pad-imgs {
    height: 140px;
}

.ships-imgs {
    height: 115px;
}

.rocket-imgs {
    height: 160px;
}

button {
    display: inline-block;
    background-color: #3e8dd3;
    padding: 1px;
    height: 35px;
    width: 100px;
    color: #ffffff;
    text-align: center;
    border: 4px double #cccccc;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer; 
    margin: 5px; 
}
  button:hover {
    background-color: rgb(47, 112, 226);
}